* {background-color: rgb(232, 234, 228)}
h1{
    text-align: center;
    
}
h2{
    text-align: center;
    margin-bottom: 20px;
    margin-right: 150px;
    margin-left: 150px;
    background-color: rgb(136, 221, 173);
    border-radius: 3px;
}
.p1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
}